<!doctype html>
<html lang="en">
	<head>
		{{ partial "meta.html" . }}

		<title>{{ .Title }}</title>
	</head>
	<body class="list">
		{{ partial "header.html" . }}

		<main>
			{{ partial "search.html" }}

			<div class="cards">
				{{ range .Site.Data.home.cards }}
					{{ partial "card.html" . }}
				{{ end }}
			</div>

			<div class="infobar">
				<i class="material-icons">help_outline</i>
				<span>
					Can't find what you're looking for? Ask <a href="mailto:{{ .Site.Params.supportEmail }}">{{ .Site.Params.supportEmail }}</a>.
				</span>
			</div>

		</main>
		{{ partial "footer.html" . }}
	</body>
</html>
