<!doctype html>
<html lang="en">
	<head>
		{{ partial "meta.html" . }}

		<title>{{ .Title }}</title>
	</head>
	<body class="list">
		{{ partial "header.html" . }}

		<main>
			<header>
				<div>
					<h1>Documentation</h1>
					<p>Everything you need to know to get started with Waylay.</p>
					<input type="text" placeholder="Search" />
				</div>
			</header>

			<div class="cards">
				{{ range $.Site.Data.index.cards }}
					{{ partial "card.html" . }}
				{{ end }}
			</div>

		</main>
		{{ partial "footer.html" . }}
	</body>
</html>
